@use "../colors" as *;

.container {
  $bottom: 2.25rem;
  display: flex;
  align-items: center;
  padding-bottom: $bottom;

  & span {
    font-size: 1rem;
  }

  & > div {
    flex: 1;
    height: 4px;
    border-radius: 4px;
    background-color: $gray-line;
    margin: 0 1.5rem;
  }

  & > div > div {
    height: 100%;
    border-radius: inherit;
    background-color: $green;
    position: relative;
    transition: width 250ms ease;

    & span {
      width: 100%;
      position: absolute;
      left: 100%;
      bottom: -$bottom;
      transform: translateX(-50%);
      padding: .25rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
