@use "../../colors" as *;

.container {
  text-align: center;
  height: 100%;
  background-color: $white;
  border-radius: .5rem;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
  padding: 1.5rem 2rem;
  position: relative;
}

$contentPadding: 2rem;


.challengeNotActive {
  position: absolute;
  top: $contentPadding;
  right: $contentPadding;
  bottom: $contentPadding;
  left: $contentPadding;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & > strong {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.4;
  }

  & > p {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.4;
    max-width: 70%;
    margin-top: 3rem;

    & > svg {
      margin-bottom: 1rem;
    }
  }
}


.challengeActive {
  position: absolute;
  top: $contentPadding;
  right: $contentPadding;
  bottom: $contentPadding;
  left: $contentPadding;
  display: flex;
  flex-direction: column;

  & > header {
    color: $blue;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 0 2rem 1.5rem;
    border-bottom: 1px solid $gray-line;
  }

  & > main {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > strong {
      font-size: 2rem;
      font-weight: 600;
      color: $title;
      margin: 1.5rem 0 1rem;
    }

    & > p {
      line-height: 1.5;
    }
  }

  & > footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    & > button {
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: .5rem;
      font-size: 1rem;
      font-weight: 600;
      color: $white;
      padding: 0 1rem;
      transition: filter 250ms ease, transform 250ms ease;

      &:hover {
        filter: brightness(0.9);
        transform: scale(1.1);
      }
    }
  }
}

.challengeFailedButton {
  background-color: $red;
}

.challengeCompletedButton {
  background-color: $green;
}
